@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --color-primary: #aa1945;
  --color-secondary: #252525;
  --custom-white: #f2f1f2;
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f1f2;
}

.to-top {
  background-color: var(--color-primary);
  color: var(--custom-white);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 99;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.my-nav {
  height: 7rem;
  line-height: 7rem;
  background-color: var(--custom-white);
}

.my-nav ul a {
  color: var(--color-secondary);
  font-size: 1.2rem;
}

.my-nav a {
  color: var(--color-secondary);
}

.sidenav ul a {
  color: var(--color-secondary);
}

.brand-logo img {
  height: 6.8rem;
}

.my-section {
  padding-top: 5rem;
}
